apiVersion: v1
kind: Service
metadata:
  name: emqx
spec:
  clusterIP: None
  selector:
    app: emqx
  ports:
    - port: 1883
      name: mqtt
    - port: 18083
      name: dashboard
---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: emqx
spec:
  serviceName: emqx
  replicas: 3
  selector:
    matchLabels:
      app: emqx
  template:
    metadata:
      labels:
        app: emqx
    spec:
      serviceAccountName: emqx
      containers:
      - name: emqx
        image: emqx/emqx:v4.1-rc.1
        ports:
        - containerPort: 1883
        - containerPort: 18083
        env:
        - name: EMQX_CLUSTER__DISCOVERY
          value: kubernetes
        - name: EMQX_CLUSTER__K8S__SERVICE_NAME
          value: emqx
        - name: EMQX_CLUSTER__K8S__NAMESPACE
          value: default
