version: "3.9"

services:

  coredns:
    image: coredns/coredns:latest
    container_name: coredns
    networks:
      emqx-net:
        ipv4_address: 172.19.0.2
    volumes:
      - ./coredns/Corefile:/Corefile
    ports:
      - "53:53"
      - "53:53/udp"

  emqx1:
    image: emqx/emqx:latest
    container_name: emqx1
    hostname: emqx1
    networks:
      emqx-net:
        ipv4_address: 172.19.0.3
    dns:
      - 172.19.0.2
    environment:
      EMQX_NODE__NAME: emqx1@emqx1
      EMQX_NODE__COOKIE: mysecretcookie
      EMQX_CLUSTER__DISCOVERY: dns
      EMQX_CLUSTER__DNS__NAME: emqx
      EMQX_LISTENER__WS__EXTERNAL: "false"
      EMQX_LISTENER__WSS__EXTERNAL: "false"
    ports:
      - "1883:1883"
      - "18083:18083"

  emqx2:
    image: emqx/emqx:latest
    container_name: emqx2
    hostname: emqx2
    networks:
      emqx-net:
        ipv4_address: 172.19.0.4
    dns:
      - 172.19.0.2
    environment:
      EMQX_NODE__NAME: emqx2@emqx2
      EMQX_NODE__COOKIE: mysecretcookie
      EMQX_CLUSTER__DISCOVERY: dns
      EMQX_CLUSTER__DNS__NAME: emqx
      EMQX_LISTENER__WS__EXTERNAL: "false"
      EMQX_LISTENER__WSS__EXTERNAL: "false"
    ports:
      - "1884:1883"
      - "18084:18083"

  emqx3:
    image: emqx/emqx:latest
    container_name: emqx3
    hostname: emqx3
    networks:
      emqx-net:
        ipv4_address: 172.19.0.5
    dns:
      - 172.19.0.2
    environment:
      EMQX_NODE__NAME: emqx3@emqx3
      EMQX_NODE__COOKIE: mysecretcookie
      EMQX_CLUSTER__DISCOVERY: dns
      EMQX_CLUSTER__DNS__NAME: emqx
      EMQX_LISTENER__WS__EXTERNAL: "false"
      EMQX_LISTENER__WSS__EXTERNAL: "false"
    ports:
      - "1885:1883"
      - "18085:18083"

networks:
  emqx-net:
    driver: bridge
    ipam:
      driver: default
      config:
        - subnet: 172.19.0.0/16
