version: "3.9"

services:
  emqx1:
    image: emqx/emqx:5.8.0
    container_name: emqx1
    hostname: emqx1
    environment:
      - EMQX_NODE__NAME=emqx1@emqx1.emqx.local
      - EMQX_NODE__COOKIE=secretcookie123
      - EMQX_CLUSTER__DISCOVERY_STRATEGY=dns
      - EMQX_CLUSTER__DNS__NAME=emqx.local
      - EMQX_CLUSTER__DNS__RECORD_TYPE=srv         
    networks:
      emqx:
        aliases:
          - emqx.local
    ports:
      - "1883:1883"
      - "8083:8083"
      - "8084:8084"
      - "8883:8883"
      - "18083:18083"

  emqx2:
    image: emqx/emqx:5.8.0
    container_name: emqx2
    hostname: emqx2
    environment:
      - EMQX_NODE__NAME=emqx2@emqx2.emqx.local
      - EMQX_NODE__COOKIE=secretcookie123
      - EMQX_CLUSTER__DISCOVERY_STRATEGY=dns
      - EMQX_CLUSTER__DNS__NAME=emqx.local
      - EMQX_CLUSTER__DNS__RECORD_TYPE=a
    networks:
      emqx:
        aliases:
          - emqx.local

  emqx3:
    image: emqx/emqx:5.8.0
    container_name: emqx3
    hostname: emqx3
    environment:
      - EMQX_NODE__NAME=emqx3@emqx3.emqx.local
      - EMQX_NODE__COOKIE=secretcookie123
      - EMQX_CLUSTER__DISCOVERY_STRATEGY=dns
      - EMQX_CLUSTER__DNS__NAME=emqx.local
      - EMQX_CLUSTER__DNS__RECORD_TYPE=a
    networks:
      emqx:
        aliases:
          - emqx.local

networks:
  emqx:
    driver: bridge
