services:
  emqx1:
    image: emqx/emqx-enterprise:6.0.1
    container_name: emqx1
    networks:
      emqx-net:
        ipv4_address: 172.20.0.11
    environment:
      EMQX_NODE__NAME: emqx1@172.20.0.11
      EMQX_NODE__COOKIE: secretcookie
      EMQX_CLUSTER__DISCOVERY_STRATEGY: dns
      EMQX_CLUSTER__DNS__NAME: emqx.emqx.internal
      EMQX_CLUSTER__DNS__RECORD_TYPE: a
    volumes:
      - ./emqx1_data:/opt/emqx/data

  emqx2:
    image: emqx/emqx-enterprise:6.0.1
    container_name: emqx2
    networks:
      emqx-net:
        ipv4_address: 172.20.0.12
    environment:
      EMQX_NODE__NAME: emqx2@172.20.0.12
      EMQX_NODE__COOKIE: secretcookie
      EMQX_CLUSTER__DISCOVERY_STRATEGY: dns
      EMQX_CLUSTER__DNS__NAME: emqx.emqx.internal
      EMQX_CLUSTER__DNS__RECORD_TYPE: a
    volumes:
      - ./emqx2_data:/opt/emqx/data

  emqx3:
    image: emqx/emqx-enterprise:6.0.1
    container_name: emqx3
    networks:
      emqx-net:
        ipv4_address: 172.20.0.13
    environment:
      EMQX_NODE__NAME: emqx3@172.20.0.13
      EMQX_NODE__COOKIE: secretcookie
      EMQX_CLUSTER__DISCOVERY_STRATEGY: dns
      EMQX_CLUSTER__DNS__NAME: emqx.emqx.internal
      EMQX_CLUSTER__DNS__RECORD_TYPE: a
    volumes:
      - ./emqx3_data:/opt/emqx/data

networks:
  emqx-net:
    ipam:
      config:
        - subnet: 172.20.0.0/16
