version: "3.9"

services:
  emqx1:
    image: emqx/emqx:latest
    container_name: emqx1
    hostname: emqx1
    networks:
      - emqx-net
    environment:
      EMQX_NODE__NAME: emqx1@emqx1
      EMQX_NODE__COOKIE: mysecretcookie
      EMQX_LISTENER__WS__EXTERNAL: false
      EMQX_LISTENER__WSS__EXTERNAL: false
      EMQX_CLUSTER__DISCOVERY: static
      EMQX_CLUSTER__STATIC__SEEDS: emqx1@emqx1,emqx2@emqx2,emqx3@emqx3
    ports:
      - "1883:1883"       # MQTT external access
      - "18083:18083"     # Dashboard (optional)

  emqx2:
    image: emqx/emqx:latest
    container_name: emqx2
    hostname: emqx2
    networks:
      - emqx-net
    environment:
      EMQX_NODE__NAME: emqx2@emqx2
      EMQX_NODE__COOKIE: mysecretcookie
      EMQX_LISTENER__WS__EXTERNAL: false
      EMQX_LISTENER__WSS__EXTERNAL: false
      EMQX_CLUSTER__DISCOVERY: static
      EMQX_CLUSTER__STATIC__SEEDS: emqx1@emqx1,emqx2@emqx2,emqx3@emqx3

  emqx3:
    image: emqx/emqx:latest
    container_name: emqx3
    hostname: emqx3
    networks:
      - emqx-net
    environment:
      EMQX_NODE__NAME: emqx3@emqx3
      EMQX_NODE__COOKIE: mysecretcookie
      EMQX_LISTENER__WS__EXTERNAL: false
      EMQX_LISTENER__WSS__EXTERNAL: false
      EMQX_CLUSTER__DISCOVERY: static
      EMQX_CLUSTER__STATIC__SEEDS: emqx1@emqx1,emqx2@emqx2,emqx3@emqx3

networks:
  emqx-net:
    external: true
