replicaCount: 3

service:
  type: NodePort
  ports:
    mqtt: 1883
    mqtts: 8883
    dashboard: 18083
    ws: 8083
    wss: 8084

persistence:
  enabled: true
  size: 5Gi
  storageClass: standard
  mountPath: /opt/emqx/data

dashboard:
  defaultUsername: admin
  defaultPassword: StrongPass123

cluster:
  k8sAutoDiscovery: true
  mnesia:
    enabled: true
    dir: /opt/emqx/data/mnesia
    # Best practice is to set Mnesia replicas equal to the number of pods
    replicas: 3

extraConfig:
  emqx:
    mqtt:
      allow_anonymous: true
      persistent_client_expiration: 24h
      session_qos_1_retry: 60
      max_clientid_len: 64
