---
apiVersion: apps.emqx.io/v2beta1
kind: EMQX
metadata:
  name: emqx
  namespace: emqx-new
spec:
  image: emqx:5
  imagePullPolicy: IfNotPresent
  coreTemplate:
    spec:
      extraVolumes:
        - name: emqx-tls
          secret:
            secretName: emqx-tls
      extraVolumeMounts:
        - name: emqx-tls
          mountPath: /mounted/cert
  dashboardServiceTemplate:
    spec:
      type: LoadBalancer
  listenersServiceTemplate:
    spec:
      type: NodePort

---
apiVersion: v1
kind: ConfigMap
metadata:
  name: emqx-configs
  namespace: emqx-new
data:
  emqx.conf: |
    dashboard.listeners.http.bind = 18083
    dashboard.default_username = "admin"
    dashboard.default_password = "emqxpass"
    listeners.ssl.default.bind = 8883
    listeners.ssl.default.ssl_options.certfile = "/mounted/cert/tls.crt"
    listeners.ssl.default.ssl_options.keyfile = "/mounted/cert/tls.key"
    listeners.ssl.default.ssl_options.cacertfile = "/mounted/cert/ca.crt"

---
apiVersion: v1
kind: Secret
metadata:
  name: emqx-tls
  namespace: emqx-new
type: Opaque
data:
  ca.crt: LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSURVRENDQW9tZ0F3SUJBZ0lKQU5hTlZyU2FtWEl3Q2dZSUtvWkl6ajBFQXdJd0pERXdNQXdHQTFVRUF3d0pTVzV2Y21jZ0JnTlYKQkFZVEFsVlRNQjRYRFRFNE1ERXhNVE00V2hjTk1qQXdNREF3TkRZeE1UQXhNREUyV2pBWk1CMEdBMVVFQ2hNTQpCZ05WQkFZVEFsVlRNQjRYRFRFNE1ERXhNVE00V2pBWk1CMEdBMVVFQ2hNTQpCZ05WQkFZVEFsVlRNQjRYRFRFNE1ERXhNVE00V2pBWk1CMEdBMVVFQ2hNTQpCZ05WQkFZVEFsVlRNQjRYRFRFNE1ERXhNVE00V2pBWk1CMEdBMVVFQ2hNTQpCZ05WQkFZVEFsVlRNQjRYRFRFNE1ERXhNVE00V2pBWk1CMEdBMVVFQ2hNTQpCZ05WQkFZVEFsVlRNQjRYRFRFNE1ERXhNVE00V2pBWk1CMEdBMVVFQ2hNTQpCZ05WQkFZVEFsVlRNQjRYRFRFNE1ERXhNVE00V2pBWk1CMEdBMVVFQ0FRRGxNQjRYRFRFNE1ERXhNVE00V2pBWk1CMEdBMVVFQ2hNTQpCZ05WQkFZVEFsVlRNQjRYRFRFNE1ERXhNVE00V2pBWk1CMEdBMVVFQ2hNTQpCZ05WQkFZVEFsVlRNQjRYRFRFNE1ERXhNVE00V2pBWk1CMEdBMVVFQ0FRRGxNQjRYRFRFNE1ERXhNVE00V2pBWk1CMEdBMVVFQ2hNTQpCZ05WQkFZVEFsVlRNQjRYRFRFNE1ERXhNVE00V2pBWk1CMEdBMVVFQ2hNTQpCZ05WQkFZVEFsVlRNQjRYRFRFNE1ERXhNVE00V2pBWk1CMEdBMVVFQ0FRRGxNQjRYRFRFNE1ERXhNVE00V2pBWk1CMEdBMVVFQ2hNTQpCZ05WQkFZVEFsVlRNQjRYRFRFNE1ERXhNVE00V2pBWk1CMEdBMVVFQ0FRRGxNQjRYRFRFNE1ERXhNVE00V2pBWk1CMEdBMVVFQ0FRRGxNQjRYRFRFNE1ERXhNVE00V2pBWk1CMEdBMVVFQ0FRRGxNQjRYRFRFNE1ERQpNVE00V2pBWk1CMEdBMVVFQ0FRRGxNQjRYRFRFNE1ERXhNVE00V2pBWk1CMEdBMVVFQ0FRRGxNQjRYRFRFNE1ERXhNVE00V2pBWk1CMEdBMVVFQ0FRRGxNQjRYRFRFNE1ERXhNVE00V2pBWk1CMEdBMVVFQ0FRRGxNQjRYRFRFNE1ERXhNVE00V2pBWk1CMEdBMVVFQ0FRRGxNQjRYRFRFNE1ERQpNVE00V2pBWk1CMEdBMVVFQ0FRRGxNQjRYRFRFNE1ERXhNVE00V2pBWk1CMEdBMVVFQ0FRRGxNQjRYRFRFNE1ERQpNVE00V2pBWk1CMEdBMVVFQ0FRRGxNQjRYRFRFNE1ERXhNVE00V2pBWk1CMEdBMVVFQ0FRRGxNQjRYRFRFNE1ERQpNVE00V2pBWk1CMEdBMVVFQ0FRRGxNQjRYRFRFNE1ERQpNVE00V2pBWk1CMEdBMVVFQ0FRRGxNQjRYRFRFNE1ERQpNVE00V2pBWk1CMEdBMVVFQ0FRRGxNQjRYRFRFNE1ERQpNVE00V2pBWk1CMEdBMVVFQ0FRRGxNQjRYRFRFNE1ERQpNVE00V2pBWk1CMEdBMVVFQ0FRRGxNQjRYRFRFNE1ERQpNVE00V2pBWk1CMEdBMVVFQ0FRRGxNQjRYRFRFNE1ERQpNVE00V2pBWk1CMEdBMVVFQ0FRRGxNQjRYRFRFNE1ERQpNVE00V2pBWk1CMEdBMVVFQ0FRRGxNQjRYRFRFNE1ERQpNVE00V2pBWk1CMEdBMVVFQ0FRRGxNQjRYRFRFNE1ERQpNVE00V2pBWk1CMEdBMVVFQ0FRRGxNQjRYRFRFNE1ERQpNVE00V2pBWk1CMEdBMVVFQ0FRRGxNQjRYRFRFNE1ERQpNVE00V2pBWk1CMEdBMVVFQ0FRRGxNQjRYRFRFNE1ERQpNVE00V2pBWk1CMEdBMVVFQ0FRRGxNQjRYRFRFNE1ERQ==
  tls.crt: LS0tLS1CRUdJTiBDRVJUSUZJQ0VURS0tLS0tCk1JSURVRENDQW9tZ0F3SUJBZ0lKQU5hTlZyU2FtWEl3Q2dZSUtvWkl6ajBFQXdJd0pERXdNQXdHQTFVRUF3d0pTVzV2Y21jZ0JnTlYKQkFZVEFsVlRNQjRYRFRFNE1ERXhNVE00V2pBWk1CMEdBMVVFQ2hNTQpCZ05WQkFZVEFsVlRNQjRYRFRFNE1ERXhNVE00V2pBWk1CMEdBMVVFQ2hNTQpCZ05WQkFZVEFsVlRNQjRYRFRFNE1ERXhNVE00V2pBWk1CMEdBMVVFQ2hNTQpCZ05WQkFZVEFsVlRNQjRYRFRFNE1ERXhNVE00V2pBWk1CMEdBMVVFQ2hNTQpCZ05WQkFZVEFsVlRNQjRYRFRFNE1ERQpNVE00V2pBWk1CMEdBMVVFQ0FRRGxNQjRYRFRFNE1ERQpNVE00V2pBWk1CMEdBMVVFQ0FRRGxNQjRYRFRFNE1ERQpNVE00V2p
