apiVersion: v1
kind: Service
metadata:
  name: emqx
spec:
  selector:
    app: emqx
  ports:
    - name: dashboard
      port: 18083
      targetPort: 18083
      protocol: TCP
  type: NodePort
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: emqx
  labels:
    app: emqx
spec:
  replicas: 2
  selector:
    matchLabels:
      app: emqx
  template:
    metadata:
      labels:
        app: emqx
    spec:
      containers:
      - name: emqx
        image: emqx/emqx:latest
        ports:
          - containerPort: 18083
            name: dashboard
        resources:
          requests:
            cpu: "250m"
          limits:
            cpu: "500m"
        env:
          - name: EMQX_CLUSTER__DISCOVERY
            value: k8s
          - name: EMQX_NAME
            value: emqx
          - name: EMQX_CLUSTER__K8S__APISERVER
            value: http://172.20.0.2:8080
          - name: EMQX_CLUSTER__K8S__NAMESPACE
            value: default
          - name: EMQX_CLUSTER__K8S__SERVICE_NAME
            value: emqx
          - name: EMQX_CLUSTER__K8S__ADDRESS_TYPE
            value: ip
          - name: EMQX_CLUSTER__K8S__APP_NAME
            value: emqx
        tty: true
