replicaCount: 3

image:
  repository: emqx/emqx
  tag: 5.7.2
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  ports:
    mqtt: 1883
    dashboard: 18083

emqxConfig:
  EMQX_CLUSTER__DISCOVERY: "dns"
  EMQX_CLUSTER__DNS__NAME: "my-emqx-headless.default.svc.cluster.local"

persistence:
  enabled: false  # KIND does not support default PVC well

resources:
  limits:
    cpu: 500m
    memory: 512Mi
  requests:
    cpu: 200m
    memory: 256Mi
