replicaCount: 3   # Number of nodes in cluster, always odd recommended

image:
  repository: emqx/emqx-enterprise
  tag: latest
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  mqtt: 1883
  mqttssl: 8883
  dashboard: 18083

persistence:
  enabled: false

emqxConfig:
  EMQX_NAME: "emqx"
  EMQX_HOST: "0.0.0.0"
  EMQX_CLUSTER__DISCOVERY: "k8s"
  EMQX_CLUSTER__K8S__NAMESPACE: "default"
  EMQX_CLUSTER__K8S__APP_NAME: "my-emqx"

# Enable SSL if needed
ssl:
  enabled: false

metrics:
  enable: true
