replicaCount: 3

image:
  repository: emqx/emqx
  tag: 5.7.2
  pullPolicy: IfNotPresent

service:
  type: NodePort
  mqtt: 1883
  dashboard: 18083
  nodePorts:
    mqtt: 30183
    dashboard: 31803

emqxConfig:
  cluster.discovery_strategy: dns
  cluster.dns.name: my-emqx-headless.default.svc.cluster.local
  cluster.dns.record_type: srv

persistence:
  enabled: false

resources:
  limits:
    cpu: 500m
    memory: 512Mi
  requests:
    cpu: 200m
    memory: 256Mi

autoscaling:
  enabled: true
  minReplicas: 3
  maxReplicas: 5
  targetCPUUtilizationPercentage: 50
  targetMemoryUtilizationPercentage: 50

nodeSelector: {}
tolerations: []
affinity: {}

podManagementPolicy: Parallel
recreatePods: true
