skipCRDs: false
singleNamespace: false
development: false
replicaCount: 1
revisionHistoryLimit: 10

image:
  repository: emqx/emqx-operator-controller
  pullPolicy: IfNotPresent
  tag: "2.2.28"

webhook:
  enabled: true

serviceAccount:
  create: true

podSecurityContext:
  runAsNonRoot: true

containerSecurityContext:
  allowPrivilegeEscalation: false

resources:
  limits:
    cpu: 500m
    memory: 512Mi
  requests:
    cpu: 100m
    memory: 128Mi

cert-manager:
  enable: true
