apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: my-emqx
  labels:
    app: emqx
spec:
  serviceName: my-emqx-headless
  replicas: 3
  podManagementPolicy: Parallel
  selector:
    matchLabels:
      app: emqx
  template:
    metadata:
      labels:
        app: emqx
    spec:
      containers:
      - name: emqx
        image: emqx/emqx:5.7.2
        imagePullPolicy: IfNotPresent
        env:
        - name: EMQX_CLUSTER__DISCOVERY
          value: "dns"
        - name: EMQX_CLUSTER__DNS__NAME
          value: "my-emqx-headless.default.svc.cluster.local"
        - name: EMQX_NODE__COOKIE
          value: "MY_SECRET_COOKIE" # same for all nodes
        - name: EMQX_DASHBOARD__DEFAULT_USERNAME
          value: "admin"
        - name: EMQX_DASHBOARD__DEFAULT_PASSWORD
          value: "emqx123"
        ports:
        - containerPort: 1883
          name: mqtt
        - containerPort: 18083
          name: dashboard
        - containerPort: 8083
          name: ws
        - containerPort: 8084
          name: wss
        resources:
          requests:
            cpu: 200m
            memory: 256Mi
          limits:
            cpu: 500m
            memory: 512Mi
        readinessProbe:
          httpGet:
            path: /status
            port: 18083
          initialDelaySeconds: 10
          periodSeconds: 5
        livenessProbe:
          httpGet:
            path: /status
            port: 18083
          initialDelaySeconds: 60
          periodSeconds: 30
        volumeMounts:
        - name: emqx-data
          mountPath: /opt/emqx/data
      volumes:
      - name: emqx-data
        emptyDir: {}
---
apiVersion: v1
kind: Service
metadata:
  name: my-emqx
spec:
  type: NodePort
  selector:
    app: emqx
  ports:
    - port: 1883
      targetPort: 1883
      nodePort: 30183
      name: mqtt
    - port: 18083
      targetPort: 18083
      nodePort: 31803
      name: dashboard
---
apiVersion: v1
kind: Service
metadata:
  name: my-emqx-headless
spec:
  clusterIP: None
  selector:
    app: emqx
  ports:
    - port: 1883
      name: mqtt
    - port: 18083
      name: dashboard
---
apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: my-emqx-hpa
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: StatefulSet
    name: my-emqx
  minReplicas: 3
  maxReplicas: 5
  metrics:
  - type: Resource
    resource:
      name: cpu
      target:
        type: Utilization
        averageUtilization: 50
  - type: Resource
    resource:
      name: memory
      target:
        type: Utilization
        averageUtilization: 50
