replicaCount: 3

image:
  repository: emqx/emqx
  tag: 5.7.2
  pullPolicy: IfNotPresent

# Use NodePort to access EMQX from host
service:
  type: NodePort
  mqtt: 1883
  mqttssl: 8883
  dashboard: 18083

  nodePorts:
    mqtt: 30183       # local host port for MQTT
    mqttssl: 30443    # local host port for MQTT SSL
    dashboard: 31803  # local host port for Dashboard

emqxConfig:
  EMQX_CLUSTER__DISCOVERY: "dns"
  EMQX_CLUSTER__DNS__NAME: "my-emqx-headless.default.svc.cluster.local"

persistence:
  enabled: false  # KIND does not support PVC well

resources:
  limits:
    cpu: 500m
    memory: 512Mi
  requests:
    cpu: 200m
    memory: 256Mi
