skipCRDs: false
singleNamespace: false
development: false
replicaCount: 3               # 3-node cluster
revisionHistoryLimit: 10

image:
  repository: emqx/emqx-operator-controller
  pullPolicy: IfNotPresent
  tag: "2.2.28"

# Disable webhook for kind/local clusters
webhook:
  enabled: false

serviceAccount:
  create: true

podSecurityContext:
  runAsNonRoot: true

containerSecurityContext:
  allowPrivilegeEscalation: false

resources:
  limits:
    cpu: 500m
    memory: 512Mi
  requests:
    cpu: 100m
    memory: 128Mi

# No need for cert-manager if webhook disabled
cert-manager:
  enable: false

clustering:
  k8s:
    enabled: true
    serviceName: emqx
    namespace: default

hpa:
  enabled: true
  minReplicas: 2
  maxReplicas: 5
  targetCPUUtilizationPercentage: 50

service:
  type: NodePort
  ports:
    dashboard: 18083
    mqtt: 1883
    mqtts: 8883
    dashboard_ws: 8083
    dashboard_wss: 8084
